
.env

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/tmp/*
!/tmp/.keep



.byebug_history
.local

##############################################################################
#
# DIVP
#
##############################################################################
# Ignore OS X Desktop Services Store files
.DS_Store
/.cache/*

/coverage
/config/*.local.yml
/vendor
/input

/test/shipments/*
