services:
  app:
    build:
      context: .
      target: development
    volumes:
      - .:/usr/src/app

  test:
    build:
      context: .
      target: test
    volumes:
      - .:/usr/src/app
    command: bundle exec rake test
