name: Run CI

on:
  push:
    branches:
      - $default-branch

  pull_request:

jobs:
  # Run tests
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Create .env file
        run: cat env.example > .env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/bake-action@v6
        with:
          files: compose.yaml
          targets: test
          load: true
          set: |
            *.cache-to=type=gha
            *.cache-from=type=gha

      - name: Run standard
        run: docker compose run --rm test bundle exec standardrb

      - name: Run tests
        run: docker compose run --rm test
